asgiref==3.7.2
beautifulsoup4==4.12.3
certifi==2024.2.2
charset-normalizer==3.3.2
Django==4.2.10
django-bootstrap-v5==1.0.11
django-crispy-forms==2.1
idna==3.6
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
urllib3==2.2.1
