* {
    box-sizing: border-box
}

:root {
    --nav-height: 70px; /*You HAVE To Give A Default Fallback Value*/
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.height-navbar {
    height: var(--nav-height);
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - var(--nav-height));
    max-width: 100%;
    max-height: calc(100% - var(--nav-height));
    padding: 0;
    margin: 0;
}

.container {
    max-height: 100%;
    display: block;
}

.align-center {
    margin-left: auto;
    margin-right: auto;
}

.message-div {
    display: block;
}


/* GENERATE TASK CONTAINER */
.generate-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
}

#spinner-box {
    margin: 20px auto;
    display: block;
}


/* ACCOUNT MANAGAMENT TABLE */

.accordion {
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    transition: 0.4s;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.custom-border-color {
    border-color: lightgray;
}

.last-tr {
    border-color: transparent;
}

.edit-section-row {
    height: 100px;
}
