{% extends 'base.html' %}

{% block title %}
<title>Account Info</title>
{% endblock %}

{% block content %}

<h1 class="mb-5 mt-5 text-center">Account Info</h1>

<div class="col-md-8 align-center">
    <div class="bg-light pl-5 pt-5">
        <div class="offset-md-1">
            {% if user.is_authenticated %}
            <div>
                <table class="table m-0 align-middle table-hover">
                    <tbody>
                        <tr class="accordion">
                            <th class="bg-light" scope="row">First name</th>
                            <td class="bg-light fs-5">{{ user.first_name }}</td>
                            <td class="bg-light text-end"><i class='bi bi-chevron-right' style='font-size:24px'></i>
                            </td>
                        </tr>
                        <tr class="panel">
                            <td class="bg-light text-end" scope="row">Edit first name</th>
                                <form method="post">
                                    {% csrf_token %}
                            <td class="bg-light align-middle edit-section-row"><input class="form-control rounded-0"
                                    type="text" name="firstname-input"></td>
                            <td class="bg-light text-end"><button class="bg-transparent border-0" type="submit"
                                    name="firstname_button" value="clicked"><i class='bi bi-chevron-right'
                                        style='font-size:24px'></i></button></td>
                            </form>
                        </tr>
                        <tr class="accordion">
                            <th class="bg-light" scope="row">Last name</th>
                            <td class="bg-light fs-5">{{ user.last_name }}</td>
                            <td class="bg-light text-end"><i class='bi bi-chevron-right' style='font-size:24px'></i>
                            </td>
                        </tr>
                        <tr class="panel">
                            <td class="bg-light text-end" scope="row">Edit last name</th>
                                <form method="post">
                                    {% csrf_token %}
                            <td class="bg-light align-middle edit-section-row"><input class="form-control rounded-0"
                                    type="text" name="lastname-input"></td>
                            <td class="bg-light text-end"><button class="bg-transparent border-0" type="submit"
                                    name="lastname_button" value="clicked"><i class='bi bi-chevron-right'
                                        style='font-size:24px'></i></button></td>
                            </form>
                        </tr>
                        <tr class="accordion">
                            <th class="bg-light" scope="row">Email</th>
                            <td class="bg-light fs-5">{{ user.email }}</td>
                            <td class="bg-light text-end"><i class='bi bi-chevron-right' style='font-size:24px'></i>
                            </td>
                        </tr>
                        <tr class="panel">
                            <td class="bg-light text-end" scope="row">New email</th>
                                <form method="post">
                                    {% csrf_token %}
                            <td class="bg-light align-middle edit-section-row"><input class="form-control rounded-0"
                                    type="email" name="email-input"></td>
                            <td class="bg-light text-end"><button class="bg-transparent border-0" type="submit"
                                    name="email_button" value="clicked"><i class='bi bi-chevron-right'
                                        style='font-size:24px'></i></button></td>
                            </form>
                        </tr>
                        <tr class="accordion">
                            <th class="bg-light" scope="row">Username</th>
                            <td class="bg-light fs-5">{{ user.username }}</td>
                            <td class="bg-light text-end"><i class='bi bi-chevron-right' style='font-size:24px'></i>
                            </td>
                        </tr>
                        <tr class="panel">
                            <td class="bg-light text-end" scope="row">New username</th>
                                <form method="post">
                                    {% csrf_token %}
                            <td class="bg-light align-middle edit-section-row"><input class="form-control rounded-0"
                                    type="text" name="username-input"></td>
                            <td class="bg-light text-end"><button class="bg-transparent border-0" type="submit"
                                    name="username_button" value="clicked"><i class='bi bi-chevron-right'
                                        style='font-size:24px'></i></button></td>
                            </form>
                        </tr>
                        <tr class="accordion last-tr">
                            <th class="bg-light" scope="row"> Change Password</th>
                            <td class="bg-light"></td>
                            <td class="bg-light text-end"><i class='bi bi-chevron-right' style='font-size:24px'></i>
                            </td>
                        </tr>
                        <tr class="panel last-tr">
                            <th class="bg-light"></th>
                            <td class="bg-light">
                                <form method="post">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="d-grid gap-2 mb-3"><button class="btn btn-dark border-0 rounded-0"
                                            type="submit">Update password</button></div>
                                </form>
                            </td>
                            <td class="bg-light"></td>
                    </tbody>
                </table>
            </div>
            {% endif %}
        </div>
    </div>

    <div class="d-grid align-center">
        <a class="btn btn-dark w-100 mt-3 rounded-0" href="{% url 'tasks' %}">Return</a>
    </div>

</div>

<script>
    const rowLinks = document.getElementsByClassName("accordion");

    for (let i = 0; i < rowLinks.length; i++) {

        rowLinks[i].addEventListener('click', function (event) {

            var lastTd = this.lastElementChild;
            var panel = this.nextElementSibling;

            if (panel.style.display != "table-row") {
                this.nextElementSibling.style.display = "table-row";
                lastTd.innerHTML = "<i class='bi bi-chevron-down' style='font-size:24px'></i>";
            }
            else {
                this.nextElementSibling.style.display = "none";
                lastTd.innerHTML = "<i class='bi bi-chevron-right' style='font-size:24px'></i>";
            }
        });

    }

    const resizeObserver = new ResizeObserver(entries => {

        for (let entry of entries) {

            const newHeight = entry.contentRect.height;
            window.scrollTo(0, document.body.scrollHeight);
        }
    });

    resizeObserver.observe(document.body);

</script>
{% endblock %}