{% extends 'base.html' %}

{% block title %}
<title>User Management</title>
{% endblock %}

{% block content %}


{% if form.instance %}
<h1 class="mb-5 mt-5 text-center">Edit User</h1>
{% else %}
<h1 class="mb-5 mt-5 text-center">Add User</h1>
{% endif %}

<div class="col-md-8 align-center bg-light p-5">

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="d-grid gap-2">
            {% if form.instance %}
            <p><b>To change the user's password use <a href="{% url 'change_password' user.id %}">this form</a></b></p>
            {% endif %}
            <button class="btn btn-dark rounded-0" type="submit">Save</button>
            <a class="btn btn-transparent rounded-0" href="{% url 'users' %}">Return</a>
        </div>
    </form>

</div>
{% endblock %}