{% extends 'base.html' %}

{% block title %}
<title>Admin Task Manager</title>
{% endblock %}

{% block content %}
<div class="col-md-12">

    <h1 class="mb-5 mt-5 text-center text-dark">{{username}}'s Tasks</h1>

    {% if tasks|length < 1 %} <h1 class="text-center h3 mb-5">No tasks available.</p>

        {% else %}

        <table class="table table-striped table-bordered table-hover">
            <thead class="text-center table-dark">
                <tr>
                    <th class="h4" scope="col ">Task</th>
                    <th class="h4" scope="col">Added</th>
                    <th class="h4" scope="col">Actions</th>
                </tr>
            </thead>
            {% for task in tasks %}
            <tbody class="text-center align-middle">
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created }}</td>
                    <td>
                        <a class="btn btn-outline-danger"
                            href="{% url 'delete_task_adminview' task.id user_id%}">Delete</a>
                        <a class="btn btn-outline-success"
                            href="{% url 'update_task_adminview' task.id user_id %}">Update</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>

        {% endif %}

        <form method="POST">
            {% csrf_token %}
            <div class="input-group mb-3">
                <input class="form-control bg-light rounded-0" type="text" name="content">
                <div class="input-group-append">
                    <input class="btn bg-dark text-light border-0 ml-1 rounded-0" type="submit" value="Add Task">
                </div>
            </div>
        </form>

        <div class="d-grid gap-2">
            <a class="btn btn-dark rounded-0" href="{% url 'users' %}">Return</a>
        </div>

</div>
{% endblock %}