{% extends 'base.html' %}

{% block title %}
<title>Update Task</title>
{% endblock %}

{% block content %}
<div class="col-md-8 align-center">

    <h1 class="text-center h3 mb-5">Update Task</h1>

    <form method="POST">
        {% csrf_token %}
        <input class="form-control border-dark bg-light rounded-0" type="text" name="content" value="{{ task.content }}">

        <div class="d-grid gap-2">
            <input class="btn btn-secondary rounded-0 mt-3" type="submit" value="Update Task">
        </div>
    </form>

</div>
{% endblock %}  