{% extends 'base.html' %}

{% block title %}
<title>Update Task</title>
{% endblock %}

{% block content %}
<h1 class="text-center mt-5 mb-5">Update Task</h1>

<div class="col-md-8 align-center bg-light p-5">

    <form method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
        <input id="update-task-input" class="form-control bg-light rounded-0" type="text" name="content" value="{{ task.content }}">
            <label for="update-task-input">Description</label>
        </div>

        <div class="d-grid gap-2">
            <input class="btn btn-dark rounded-0 mt-3" type="submit" value="Update Task">
            <a class="btn btn-transparent" href="{% url 'tasks_admview' user_id %}">Return</a>
        </div>
    </form>
</div>
{% endblock %}  